body {
  display: flex;
}

.left {
  width: 40%;
  height: 100vh;
  background-color: aliceblue;
}

.right {
  width: 70%;
  height: 100vh;
  background-color: bisque;
}

section {
  height: 33%;
  outline: 2px solid red;
}
