body {
  display: flex;
}

.left {
  width: 40%;
  height: 100vh;
  background-color: rgb(223, 231, 238);
  background: url(nothing.png);
  background-size: center;
}

.right {
  width: 70%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

section {
  border-left: 10px solid red;
  color: white;
  height: 33%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(103, 103, 103, 1) 100%,
    rgba(251, 251, 251, 1) 100%
  );
}

.hero {
  display: flex;
  align-items: center;
}

.hero-text {
  margin-left: 2rem;
  width: 80%;
  font-size: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-left: 2rem;
}

form {
  margin-left: 2rem;
  gap: 2rem;
  display: flex;
}

form div div {
  padding: 0.5rem;
}

label {
  display: block;
}

.lower {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  padding-top: 3rem;
}

input:valid {
  border-color: rgb(5, 249, 66);
}

form div div {
  display: flex;
  flex-direction: column;
}

.error {
  display: none;
}
